<% message_count = @g_status['-2'] %>
<div class="control-pane">
  <ul class="control-group">
    <li class="control-item dropdown-menu" title="Профиль пользователя <%= current_client.shortname %>">
      <%= image_tag 'controls/person.png', class: 'person-icon' %> 
      <span class='hide-on-mobile'> <%= current_client.shortname.mb_chars.upcase %> </span> <span class="caret"></span>

      <ul class='hidden-menu'>
        <a href="/personal?tab=person"><li><div>Персональный кабинет</div></li></a>
        <% if can?(:manage, current_client.organization) #&& current_client.organization.admin_panel_state %>
          <a href="/admin_dashboard?tab=org"><li><div>Организация</div></li></a>
        <% end %>
        <a href="/personal?tab=message"><li><div>Сообщения</div></li></a>
        <a href="/logout"><li><div>Выйти</div></li></a>
      </ul>
    </li>

    <li class="control-item dropdown-menu" title='Перейти на справочную страницу'>
      <a href="/help" target = '_blank'>
        <%= image_tag 'controls/help.png', class: 'ask-icon' %>
      </a>
    </li>

    <% if current_client.can_sign_notice? && message_count && message_count > 0 %>
      <li class="control-item" id = "notice-signing" onclick="doSignNotice('tool');"  title='Подписать извещения'>
        <span class="notice-count"> <%= message_count %> </span> <%= image_tag 'controls/notice-count-icon.png', class: 'notice-count-icon' %>
      </li>
    <% end %>
  </ul>
  <div id='toolbar-notices' <%= 'class=hidden-object' unless @g_status['-2'] %>>
    <input type='text' class='hidden-object' id='notice-form-id' name='notice_id'/>
    <input type='text' class='hidden-object' id='notice-form-name' name='notice_name'/>
    <input type='text' class='hidden-object' id='notice-form-data' name='notice_data'/>
    <input type='text' class='hidden-object' id='notice-form-sign' name='notice_sign'/>
    <input type='text' class='hidden-object' id='notice-form-thumb' name='notice_thumb' value='<%= current_session.thumbprint %>'/>
  </div>
</div>

<script type="text/javascript">
  <% if flash[:alert] %>
    function sendAlert(){
      return Service.alert('<%= flash.now[:alert] %>');
    }
    setTimeout(sendAlert, 0);
  <% end %>

  $('.toolbar-constructor').click(function(){
    Toolbar.constructor()
  })
  
  function doSignNotice(type, doc){
    <% if current_session.valid_to < Time.now %>
      alert('Сертификат не действителен');
      return;
    <% end %>
    Notice.init(type, doc);
  }

  <% cl_settings = ClientSetting.where(client_id: current_client.id).first %>
  <% if current_client.can_sign_notice? &&
        session[:session_type] == USER_STANDARD &&
        session[:menu_current] != MENU_PERSONAL &&
        cl_settings && cl_settings.auto_sign != 'none' %>
    $(document).ready(function(){
      Notice.autoType = '<%= cl_settings.auto_sign %>';
      Notice.loadAutoNext();
    });
  <% end %>
</script>
