Здравствуйте, <%= @mail[:addressee_name] %>!
<br/>
<br/>
В системе электронного документооборота "Сберключ" в адрес вашей организации направлена ответная подпись к документу
<%= link_to @mail[:data]['document']['subject'], message_url(msg: @mail[:data]['document']['id']) %>.
