Здравствуйте, <%= @mail[:addressee_name] %>
В системе электронного документооборота "Сберключ" в адрес вашей организации направлено уведомление об уточнении к документу
<%= link_to @mail[:data]['document']['subject'], message_url(msg: @mail[:data]['document']['id']) %>.