Здравствуйте, <%= @mail[:addressee_name] %>!
<br/>
<br/>
ИФНС по месту нахождения вашей организации в течение трёх рабочих дней не подтвердила приём сведений об учётных данных в качестве участника электронного документооборота счетов-фактур.<br/>
Уточните, пожалуйста, реквизиты КПП и номер ИФНС в <%= link_to 'личном кабинете', personal_url(tab: 'org') %> для повторной отправки учётных данных.
