Здравствуйте, <%= @mail[:addressee_name] %>
<<<<<<< HEAD
В системе электронного документооборота "Сберключ" в адрес вашей организации направлен документ
=======
В системе электронного документооборота "Экспресс документ" в адрес вашей организации направлен документ
>>>>>>> remotes/origin/ED-1047
<%= link_to @mail[:data]['document']['subject'], message_url(msg: @mail[:data]['document']['id']) %>.