<%= @mail[:header] %>.
------------------------------------------------------------------
<%= render "/mail_templates/#{@mail[:template_name]}" %>
------------------------------------------------------------------
Это письмо было сформировано автоматически. Не отвечайте на него.

Подробности на сайте <%= link_to 'www.gardoc.ru', root_url %>.
При возникновении вопросов обратитесь в службу поддержки Экспресс-Документ: 8 (800) 333-88-88
© ООО «Электронный экспресс», 2012-<%=Time.now.year%>. г. Москва, Ленинские горы, д.1, стр. 77,
Центр информационных технологий МГУ, e-mail: <%= link_to 'ee@garant.ru', 'mailto:ee@garant.ru' %>
