<!DOCTYPE>
<html>
  <head>
    <title>Сберключ</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body style="width: 100%; height: 100%; margin: 0; font-family: Tahoma, Verdana, serif; font-size: 13px;">
  <table style = "width: 100%;">
    <tr>
      <td style="width: 1%; white-space: nowrap;">
        <%= image_tag 'logo/logo.png', width: '170px', alt: 'Сберключ', style: 'display: block; float: left; margin: 15px 15px 0 15px;' %>
      </td>
      <td>
        <div style="background: #168c08; color: white; font-size: 1.5em; line-height: 66px; padding: 5px 25px;"><%= @mail[:header] %></div>
      </td>
    </tr>
  </table>
    <p style="clear: both; margin: 25px 0 18px 25px;">
      <%= render "/mail_templates/#{@mail[:template_name]}" %>
    </p>
    <hr style="border: none; border-top: 1px solid #DCE9F9;"/>
    <p style="clear: both; margin: 0 0 0 25px; color: #888; font-size: 11px;">
      Это письмо было сформировано автоматически. Не отвечайте на него.<br/><br/>
      &copy; Сберключ, <%= Time.now.year %>. Россия, Москва<br/>
      Большой Саввинский переулок, д. 12, стр. 9. Тел.: +7 (495) 539-25-50, e-mail.:
      <%= link_to 'info@sberkey.ru', 'mailto:info@sberkey.ru', style: 'color: #168c08; text-decoration: none;' %>
    </p>
  </body>
</html>
