<div class = "registration step_<%= step %>">
  <div class = "registration-background">
    <div class = "authorization-form registration-form">
      <div class = "authorization-body registration-body active">
        <div class = "step-container">
          <div class = "step" onClick = 'ClientRegistration.go_to_step(1)'> 1 </div>
          <div class = "step" onClick = 'ClientRegistration.go_to_step(2)'> 2 </div>
          <div class = "step" onClick = 'ClientRegistration.go_to_step(3)'> 3 </div>
        </div>

        <div class = "registration-container">

          <div class = "registration-description">
            <%= description %>
          </div>

          <div class = "registration-action">
            <div class = 'image-status'>
              <%= image_tag 'controls/preloader.gif', class: 'preloader' %>
            </div>

            <div class = 'error-checkout'>
              Проверка сервиса КриптоЭкспресс.
            </div>
          </div>

          <div class = "register">
          </div>

          <div class="registration-form-close material-control">
            <i class="material-icons clear-button"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
