<div class = "authorization">
  <div class = "authorization-background">
    <div class = "authorization-form">
      <div class = "authorization-headers">
        <div class = "authorization-header active" for = "cert-body">
        </div>
      </div>

      <div class = "authorization-body cert-body active">
        <div class = "authorization-body-header cert-header">
          Вход в систему
        </div>

        <div class = 'image-status'>
          <%= image_tag 'controls/preloader.gif', class: 'preloader' %>
        </div>

        <div class = 'error-checkout'>
          Инициализация сервиса КриптоЭкспресс<span class='help-icon' title='
Утилита КриптоЭкспресс обеспечивает взаимодействие с СКЗИ КриптоПро CSP.
КриптоЭкспресс не является средством криптографической защиты информации.
Установка КриптоЭкспресс должна осуществляться пользователем,
имеющим права локального администратора.
Локальный сервер утилиты «КриптоЭкспресс» работает на порту 43301.
            '> </span>
        </div>

        <div class = "authorization-by-cert">
        </div>
      </div>


    </div>
  </div>
</div>
