<%= form_tag enter_path, multipart: true, id: 'login-form', class: 'hidden-object' do %>
	<%= hidden_field_tag :thumbprint, @thumbprint, id: 'login-ng-thumbprint' %>
	<% { text: Base64.strict_encode64(@text || ''),
			 serial: @serial,
			 initial: params[:initial],
			 signed: nil }.each_pair do |key, value| %>
		<%= hidden_field_tag key, value, id: "login-#{key}" %>
	<% end %>
<% end %>

<%= render 'authorization' %>


<script>
	$(document).ready(function(){
		$(window).load(function(){
			<% if flash[:alert].present? %>
			Service.alert('<%= flash[:alert] %>');
			<% end %>
			Login.toggle_enter();
		});
		CryptoAdapter.init(Login.cryptoInitCallback, true);
	});

</script>