@import 'global';

.help-icon {
  background: url('controls/help-icon.png');
  background-size: 100% 100%;
  display: inline-block;
  height: 16px;
  width: 13px;
  cursor: help;
  color: transparent;
}

.hidden {
  display: none;
}

.authorization, .forget-password, .registration {
  font-family: 'Helvetica Neue', Helvetica;
  color: #2c2c2c;
  letter-spacing: 0;
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  a {
    cursor: pointer;
    color: $main-color;
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .register {
    margin-top: 20px;

    a {
      float: right;
    }
  }

  .authorization-button {
    font-size: 16px;
    line-height: 24px;
    margin: 20px -6px;
    padding: 8px;
    text-align: center;
    width: 100%;
  }

  .forget-password-background {
    z-index: 9999 !important;
  }

  .authorization-background, .forget-password-background, .registration-background {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 500px;
    min-width: 500px;
    width: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    justify-content: center;
    vertical-align: middle;

    align-items: center;
    -ms-flex-pack: center;

    background: rgba(224, 241, 253, 0.8);

    .authorization-form {
      background: #fff;
      border: 3px $main-color solid;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      border-radius: 5px;

      margin-top: -600px;
      width: 500px;
      height: 500px;

      &.registration-form {
        width: 800px;
      }

      .authorization-headers {
        clear: both;
        height: 40px;

        .authorization-header {
          color: $main-color;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          float: left;
          width: 100%;
          margin: 0;
          border-bottom: 3px $main-color solid;
          padding: 10px 20px;
          height: 40px;

          &.active {
            background: $main-color;
            color: #fff;
          }
        }
      }

      .authorization-body {
        padding: 40px 80px 0;
        display: none;
        position: relative;

        .image-status {
          .error-status {
            font-size: 14px;
          }

          .preloader {
            margin: 30px 0 30px 0;
            width: 100%;
          }
        }

        .error-checkout {
          color: $firm-lgrey;
          width: 100%;
          text-align: center;
          font-size: 16px;

          .alert {
            color: $firm-red;
            font-weight: bold;
          }
        }

        &.registration-body {
          padding: 15px 50px;
        }

        &.active {
          display: block;
        }

        .step-container {
          display: flex;
          margin: 0 auto;
          clear: both;
          width: 100%;
          text-align: center;
          justify-content: center;
          float: left;

          .step {
            cursor: pointer;
            float: left;
            padding: 10px 15px;
            font-size: 14px;
            background: #d9d9d9;
            margin: 0 10px 0 10px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-radius: 30px;
            border: 2px #d9d9d9 solid;

            &.validated {
              background: $main-color;
              color: #fff;
              border: 2px $main-color solid;
            }

            &.active {
              border: 2px $main-color solid;
            }

            &.error {
              border: 2px #ba2c36 solid;
            }
          }
        }

        .registration-container {
          margin-top: 55px;

          .registration-form-close {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;

            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }

          .registration-form-header {
            text-align: center;
            font-size: 32px;
          }

          .registration-description {
            margin-top: 15px;
            font-size: 20px;
            text-align: center;
          }

          .registration-action {
            padding: 40px 0;
            text-align: center;
            font-size: 20px;

            .image-status {
              .preloader {
                margin-top: 0;
                width: 334px;
              }
            }

            &.register-certificate-action {
              padding: 20px 0;
            }

            .error-checkout {
              color: $firm-lgrey;
              width: 100%;
              text-align: center;
              font-size: 16px;
            }

            .register-certificate-header {
              font-size: 18px;
              font-weight: bold;
              color: $main-color;
            }

            .register-certificate-container {
              width: 100%;
              height: 150px;
              overflow-y: auto;

              .register-certificate {
                width: 100%;
                float: left;
                font-size: 18px;
                margin-top: 10px;
                padding: 10px 0;
                cursor: pointer;
                background: #eaeaea;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border-radius: 5px;
                position: relative;

                &:hover {
                  background: #e5e5e5;
                }

                &.selected {
                  background: rgba(224, 241, 253, 0.8);
                }

                .register-certificate-status {
                  position: absolute;
                  right: 10px;
                  top: -8px;
                  line-height: 14px;
                  font-size: 14px;
                  color: $firm-grey;
                  background: rgba(150, 150, 150, 0.3);

                  &.valid {
                    color: #1d682b;
                    font-weight: bold;
                  }

                  &.error {
                    color: #ba2c36;
                    font-weight: bold;
                  }
                }

                .info {
                  width: 50%;
                  float: left;

                  &.small {
                    font-size: 13px;
                    font-weight: bold;
                  }
                }
              }

            }

            .register-certificate-postscriptum {
              font-size: 13px;
              font-weight: bold;
              color: $firm-grey;
              margin-top: 20px;
            }

            .contact-form {
              input.text {
                padding: 0 10px;
                width: 100%;
                font-size: 18px;
                margin-bottom: 10px;
                line-height: 18px;
                height: 30px;
                border: 1px #666 solid;
                border-radius: 5px;

                &.valid {
                  border: 2px #1d682b solid;
                }

                &.error {
                  border: 2px #ba2c36 solid;
                }
              }

              label {
                font-size: 12px;
                font-weight: bold;
              }
            }

          }
        }

        .authorization-body-header {
          font-size: 32px;
          text-align: center;
        }

        .authorization-by-cert {
          margin-top: 40px;

          .inactive {
            color: $firm-red;
          }

          .active {
            color: $firm-green;
          }

          .certificate-panel {
            height: 200px;

            .certificate-chose {
              position: relative;

              .cert-status {
                font-weight: bold;
                float: left;
                margin-right: 5px;
              }

              .text {
                cursor: pointer;
                width: 100%;
                height: 24px;
                line-height: 24px;
                margin-bottom: 20px;
                border-radius: 5px;
                padding: 6px;
                margin-left: -6px;
                border: 1px #888 solid;

                .certificate-chosen {
                  font-size: 16px;
                  float: left;

                  .placeholder {
                    color: #888;
                  }
                }

                label {
                  cursor: pointer;
                  font-size: 16px;
                  color: #888;
                  float: left;
                  margin-bottom: 5px;
                }

                .caret {
                  margin: 7px 5px 0 7px;
                }
              }

              .certificate-container {
                display: none;
                top: 38px;
                position: absolute;
                background: #fff;
                border: 1px $firm-grey solid;
                border-top: none;
                font-size: 16px;
                width: 100%;
                min-height: 18px;
                max-height: 270px;
                overflow-x: hidden;
                overflow-y: auto;

                .certificate-option {
                  cursor: pointer;
                  padding: 10px;
                  border-bottom: 1px #888 solid;
                  
                  .image {
                    font-weight: bold;
                  }

                  .certificate-detail {
                    display: none;
                    font-size: 12px;
                    color: #666;
                    margin-top: 5px;

                    p {
                      margin: 0;
                      line-height: 16px;
                    }
                  }

                  &:hover {
                    background: rgba(224, 241, 253, 0.8);
                  }
                }
              }

              .authorization-error {
                width: 100%;
                color: #b10001;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                margin-bottom: -66px;

                .neutral {
                  color: #c9c9c9;
                }
              }
            }
          }
        }

        .authorization-by-password {
          margin-top: 30px;

          label {
            cursor: pointer;
            font-size: 16px;
            color: #888;
            float: left;
            margin-bottom: 5px;
          }

          .sms-code-input {
            display: none;
          }

          input {
            &.text {
              outline: none;
              width: 100%;
              height: 24px;
              line-height: 24px;
              margin-bottom: 20px;
              border-radius: 5px;
              padding: 6px;
              margin-left: -6px;
              border: 1px #888 solid;

              &:focus {
                box-shadow: 0 0 0 2px rgba(37, 121, 191, .5);
              }
            }
          }

          .password-input {
            width: 100%;

            .forgot-password {
              float: right;
              text-align: right;
              line-height: 16px;
              color: $main-color;
              margin-top: 3px;
              text-decoration: underline;
              cursor: pointer;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .password-save-input {
            height: 30px;
            margin-top: -10px;

            input {
              float: left;
            }
          }
        }
      }
    }
  }
}
