@import "global";

.placeholder {
	color: #aaa;
}

#login-ng {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	font-family: Tahoma;
	
	.colored { color: $main-color; }

	#login-ng-enter {
		color: #fff;
		background: #2479bf;
		padding-top: 2px;
		margin: 70px 30px 0 30px;
		clear: both;
		float: left;
		width: 240px;
		height: 26px;
		line-height: 22px;
		cursor: pointer;
		text-align: center;
		font-size: 14px;
	}

	#login-ng-enter:hover {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, .5);
	}


	input {
		border: 0;
	}

	#login-variants {
		background: none;
		border: 0;

	}

	#login-ng-wrapper {
		width: 100%;
		overflow: hidden;
		height: 598px;
	}

	#login-ng-fixed-bg, #login-ng-calc-bg {
		width: 100%;
		height: 598px;
		position: absolute;
		overflow: hidden;
	}
	#login-ng-fixed-bg { overflow-y: hidden; background: url(login_ng/bg.png) no-repeat top center transparent; }
	#login-ng-calc-bg { overflow-y: hidden; background: url(login_ng/bg-calc.png) no-repeat top right transparent; }

	#login-ng-fixed, #login-calc {
		font-family: Tahoma;
		width: 1024px;
		height: 578px;
		margin: 0 auto;
		z-index: 2;

		#login-ng-top-div {
			width: 962px;
			padding: 31px 31px 0 31px;
			height: 250px;

			#login-ng-info-div {
				width: 662px;
				float: left;

				#login-ng-header-div {
					overflow: hidden;
					margin-bottom: 20px;

					img {
						float: left;
						margin: 10px 31px 0 0;
						width: 200px;
					}

					#login-ng-contact-div {
						width: 300px;
						margin: 0 31px 0 0;
						float: right;
						font-size: 14px;
						padding: 20px 0 0 0;
						#login-ng-phone { font-weight: bold; }
						p {
							margin: 0;
							text-align: right;
						}
						a {
							color: $main-color;
							line-height: 32px;
							text-align: right;
							display: block;
						}
					}
				}
				#login-ng-header-border-div {
					height: 14px;
					max-width: 911px;
					background: url(login_ng/border.png) right;
				}
				#login-ng-description-div {
					overflow: hidden;

					h3 {
						margin: 28px 0 14px 0;
						font-weight: normal;
						font-size: 23px;
					}
					p { font-size: 14px; }
				}
			}
			#login-ng-login-div {
				float: left;
				width: 300px;
				height: 220px;
				display: flex;
				justify-content: center;
				align-items: center;

				.action-button {
					padding: 15px 80px;
				}

				#dss_error {
					font-weight: bold;
					color: #fff;
					float: left;
					margin: 10px 10% 0 10%;
					width: 80%;
					text-align: center;

				}

				#certificates, #login-pass {
					padding: 0;
				}

				.restore_password {
					display: none;
				}

				.auth_form {
					margin: 10px 30px 0 30px;
					font-size: 14px;

					input {
						margin-top: 5px;
						padding: 2px 10px;
						width: 220px;
						height: 22px;
					}
				}

				h3 {
					color: #2479bf;
					font-size: 23px;
					text-align: center;
					margin: 15px 0 0 0;
				}
				#login-ng-cert-combo {
					width: 240px;
					margin: 30px 30px 5px 30px;
					height: 26px;
					background: #fff;
					cursor: pointer;

					#login-ng-cert-combo-content {
						float: left;
						width: 221px;
					}
					#login-ng-cert-combo-right {
						float: left;
						width: 19px;
						height: 26px;
						background: url(login_ng/drop-down.png);
					}
				}
				#login-ng-cert-combo-list {
					display: none;
					width: 240px;
					height: 99px;
					margin: -6px 30px 5px 30px;
					position: absolute;
					overflow-y: auto;
					overflow-x: hidden;
					background: #fff;
					border: 1px solid #ddd;
					cursor: pointer;
				}
				#login-ng-enter-log {
					color: #2479bf;

					p {
						margin: 0 20px 10px 20px;
						font-size: 12px;
						text-align: center;
						line-height: 15px;

						a {
							display: inline;
							float: none;
							margin: 0;
							font-size: 12px;
						}
						&.notif {
							clear: both;
							display: block;
							text-align: center;
							margin-left: 35px;
						}
					}

					a {
						display: block;
						float: left;
						color: #0666ac;
						font-size: 12px;
						margin: 15px 0 0 34px;
					}
				}

				.forgot-pants, .register-form {
					float: left;
					margin: 10px 0 0 30px;
					color: #2479bf;
					text-decoration: underline;
					cursor: pointer;
					font-size: 12px;
				}
				.auth-icon {
					margin-top: 4px;
					margin-right: 4px;
				}
				.auth-method-switcher {
					float: right;
					margin: 10px 30px 0 0;
					color: #2479bf;

					cursor: pointer;
					font-size: 12px;

					img {
						float: left;
					}

					div {
						text-decoration: underline;
						float: left;
					}
				}

				.login-ng-cert-combo-option {
					font-size: 14px;
					width: 220px;
					overflow-x: hidden;
					padding: 0 10px;
					line-height: 26px;
					height: 26px;
					white-space: nowrap;
					border: 1px solid #ddd;
					z-index: 101;
					&.hover { background: $back-color; }
				}
			}
		}
		#login-ng-middle-div {
			height: 51px;
			margin: 0 0 16px 0;
			padding: 0 0 0 31px;
			background: url(login_ng/arrows.png);
			.login-ng-middle-text {
				color: $firm-white;
				font-weight: bold;
				font-size: 14px;
				float: left;
				width: 300px;
				margin: 18px 31px 0 0;
			}
		}
		#login-ng-bottom-div {
			margin: 0 0 0 31px;

			#login-ng-thumbnail-div {
				float: left;
				width: 662px;
				height: 200px;

				#login-ng-steps-div {
					overflow: hidden;

					p {
						width: 300px;
						margin: 0 31px 0 0;
						float: left;
						font-size: 14px;
					}
					a { color: $main-color; }
				}
				h3 {
					font-size: 23px;
					margin: 20px 0 24px 0;
					font-weight: normal;
				}
			}
			.login-ng-img-links {
				height: 33px;
				overflow: hidden;
				a {
					float: left;
					font-weight: bold;
					display: block;
					height: 33px;
					line-height: 33px;
					margin: 0 0 0 10px;
					color: $main-color;
					font-size: 14px;
				}
				img {
					float: left;
					margin: 5px 0 0 0;
				}
			}
			#login-ng-video-div {
				float: left;
				width: 300px;
				height: 200px;
				a {
					color: $main-color;
					font-size: 14px;
				}
			}
		}
	}
	#login-ng-footer {
		width: 100%;
		min-height: 120px;
		background: $firm-lgrey;
		margin: 0;
		top: 598px;
		position: absolute;
		z-index: 3;
		color: $firm-black;

		#login-ng-footer-content {
			width: 962px;
			margin: 0 auto;
			#login-ng-footer-contact {
				width: 732px;
				padding: 34px 0 0 0;
				float: left;
				font-size: 12px;
				a {
					font-size: 12px;
					margin: 0 13px;
					color: $firm-black;
					&.no-margin-left { margin-left: 0; }
					&.no-margin-right { margin-right: 0; }
				}
				p { margin: 24px 0 0 0; }
			}
			img {
				cursor: pointer;
				margin: 34px 0 0 0;
				float: right;
			}
		}
	}
	#additional-arrow {
		height: 51px;
		width: 0px;
		background: $main-color;
		margin: -297px 0 0 0;
	}
	#login-calc {
		margin: 31px auto 0 auto;
		font-size: 14px;
		width: 1056px;

		#login-calc-header {
			h3 {
				font-size: 23px;
				font-weight: normal;
				margin: 12px 0;
			}
		}

		#login-calc-header-border-div {
			height: 14px;
			max-width: 911px;
			background: url(login_ng/border.png) right;
		}

		#login-calc-content {
			#login-calc-back {
				float: left;
				margin: -12px 18px 0 0;
				cursor: pointer;
				background: url(login_ng/calc-back.png);
				width: 36px;
				height: 489px;
				&.hover { background-position: -36px 0px; }
			}
			#login-calc-form {
				float: left;
				background: url(login_ng/calc-box.png);
				width: 303px;
				height: 462px;
				color: #fff;

				h3 {
					text-align: center;
					margin: 30px 0 0 0;
				}
				.login-calc-data-block {
					margin: 0;
					overflow: hidden;

					p {
						font-size: 12px;
						font-weight: bold;
						text-align: right;
						float: left;
						margin: 4px 3px 2px 10px;
						width: 158px;
						&.login-calc-postfix {
							font-weight: normal;
							font-size: 11px;
							text-align: left;
							float: left;
							margin: 5px 10px 2px 3px;
							width: 25px;
						}
						span {
							font-weight: normal;
							font-size: 11px;
						}
					}
					input {
						color: #000;
						border: 1px solid #888;
						float: left;
						line-height: 18px;
						margin: 1px 6px;
						text-align: center;
						width: 63px;
						height: 18px;
						&.defvalue { color: #888; }
					}
				}
				a {
					color: #fff;
					display: block;
					font-weight: bold;
					margin: 18px 0;
					text-align: center;
				}
			}
			#login-calc-table {
				float: left;

				#login-calc-images {
					p {
						color: #888;
						margin: 14px 0 14px 10px;
					}
					img {
						display: block;
						float: left;
					}
					#login-calc-data-div {
						width: 697px;
						height: 51px;
						clear: both;
						background: url(login_ng/calc-arrows.png);
						margin: 0 0 0 -2px;

						p {
							float: left;
							color: #000;
							margin: 14px 0 0 10px;
							font-size: 12px;
							span {
								font-size: 16px;
								font-weight: bold;
								color: $main-color;
							}
							&#login-calc-data1 { width: 220px; }
							&#login-calc-data2 {
								margin: 14px 0 0 30px;
								width: 400px;
							}
						}
					}
				}
				#login-calc-table-data {
					clear: both;
					margin: 18px 0 0 0;
					#login-calc-table-data-header {
						width: 657px;
						height: 49px;
						background: url(login_ng/calc-header.png);
						margin: 0 0 0 -2px;

						p {
							float: left;
							color: #444;
							text-align: center;
							font-weight: bold;
							font-size: 12px;
							&#login-calc-table-data-header1 {
								color: $main-color;
								text-align: left;
								width: 195px;
								font-size: 14px;
								margin: 16px 0 0 10px;
							}
							&#login-calc-table-data-header2 {
								width: 166px;
								margin: 10px 0 0 0;
							}
							&#login-calc-table-data-header3 {
								width: 164px;
								margin: 16px 0 0 0;
							}
							&#login-calc-table-data-header4 {
								color: $main-color;
								text-align: left;
								width: 94px;
								font-size: 14px;
								margin: 16px 0 0 10px;
							}
						}
					}
					table {
						margin: 0 0 0 -2px;
						border-collapse: collapse;
						color: $main-color;
						font-size: 12px;
						font-weight: bold;
						text-align: center;
						td {
							height: 24px;
							padding: 0 10px;
							border: 1px solid $back-color;
							&.blacked { color: #000; text-align: left; }
							&.nb-left { border-left: none; }
							&.nb-top { border-top: none; }
							&.nb-right { border-right: none; }
							&.nb-bottom { border-bottom: none; }
						}
					}
				}
			}
			#login-calc-links {
				margin: 20px 0 0 150px;
				a {
					color: $main-color;
					font-weight: bold;
					padding: 0 20px;
				}
			}
		}
	}
}

.cert-tp {
	width: 280px;
	border: 1px solid #888;
	padding: 10px 0;
	margin: 0;
	position: absolute;
	z-index: 99;
	font-family: Tahoma;
	background-color: #fff;

	img {
		clear: both;
		margin: 10px 0 0 10px;
		float: left;
	}
	p {
		padding: 0 10px;
		margin: 2px 0;
		line-height: 14px;
		font-size: 14px;
		&.image {
			float: left;
			height: 20px;
			margin: 10px 0 0 0;
			line-height: 16px;
		}
	}
}

#ban-countdown {
	color: #dd6864;
}
