@import "global";

#login-sb {
	position: absolute;
	top: 0px;
	left: 0px;

	#login-sb-header, .login-sb-description, #login-alert, #login-status { text-align: center; }
	#login-sb-header {
		font-size: 26px;
		color: $main-color;
	}
	.login-sb-description { color: $lgrey-color; }
	#login-alert { color: #f00; }
	.framealert {
		color: $main-color;
		text-align: center;
		margin: 10px;
		font-size: 16px;
	}
	#login-sb-continue {
		margin: 25px auto;
		text-align: center;
		button {
			float: none;
		}
	}
	#login-ng-login-div {
		width: 300px;
		height: 215px;
		margin: 0 auto 15px auto;
		overflow: hidden;
		background: url(login_ng/box_empty.png);

		h3 {
			font-weight: normal;
			color: #fff;
			font-size: 23px;
			text-align: center;
			margin: 35px 0 0 0;
		}
		#login-ng-cert-combo {
			width: 240px;
			margin: 0 30px 5px 30px;
			height: 26px;
			background: #fff;
			border: 1px solid #888;
			cursor: pointer;

			#login-ng-cert-combo-content {
				float: left;
				width: 221px;
			}
			#login-ng-cert-combo-right {
				float: left;
				width: 19px;
				height: 26px;
				background: url(login_ng/drop-down.png);
			}
		}
		#login-ng-cert-combo-list {
			display: none;
			width: 240px;
			height: 99px;
			margin: -6px 30px 5px 30px;
			position: absolute;
			overflow-y: auto;
			overflow-x: hidden;
			background: #fff;
			border: 1px solid #888;
			cursor: pointer;

		}
		#login-ng-enter-log {
			color: #fff;

			p {
				margin: 0 20px 10px 20px;
				font-size: 12px;
				text-align: center;
				line-height: 15px;

				a {
					display: inline;
					float: none;
					margin: 0;
					font-size: 12px;
				}
				&.notif {
					clear: both;
					display: block;
					text-align: center;
					margin-left: 35px;
				}
			}
			#login-ng-enter {
				margin: 10px 0 0 74px;
				clear: both;
				float: left;
				width: 44px;
				height: 24px;
				line-height: 22px;
				font-weight: bold;
				cursor: pointer;
				text-align: center;
				font-size: 12px;
				border: 2px outset #5ecaff;
			}
			a {
				display: block;
				float: left;
				color: #fff;
				font-size: 12px;
				margin: 15px 0 0 34px;
			}
		}
		.login-ng-cert-combo-option {
			font-size: 14px;
			width: 220px;
			overflow-x: hidden;
			background: #fff;
			padding: 0 10px;
			line-height: 26px;
			height: 26px;
			white-space: nowrap;
			z-index: 251;
			&.hover { background: $back-color; }
		}
	}
	#login-sb-bottom {
		background-color: #f9f9f9;
		width: 100%;
		overflow: hidden;

		#login-sb-bottom-shadow {
			background: url(sb/shadow.png);
			width: 1000px;
			height: 15px;
			margin: 0 auto;
		}
		#login-sb-bottom-left {
			width: 50%;
			float: left;
			margin: 0 -1px 0 0;
			border-right: 1px #aaa solid;
		}
		#login-sb-bottom-right {
			width: 50%;
			float: left;
		}
		.login-sb-bottom-text {
			margin: 55px 219px 20px 25px;

			.login-sb-bottom-header {
				font-size: 16px;
				color: $main-color;
			}
			.login-sb-description { text-align: left; }
		}
		img {
			float: right;
			margin: 30px 25px;
		}
	}
	#login-sb-footer {
		width: 100%;
		height: 101px;
		background: url(sb/footer.png) repeat-x;
		overflow: hidden;

		p {
			width: 300px;
			float: left;
			margin: 48px 0 0 25px;
			color: #fff;
		}

		img {
			float: right;
			margin: 18px 25px;
		}
	}
}
